<h1><%=@recipe.name %></h1><br>
<br>
<h4>Prep Time: <%=@recipe.prep_time %></h4><br>
<h4>Cook Time: <%=@recipe.cook_time %></h4><br>
<br>
<h4>Ingredients:</h4><br>
<% @recipe.ingredients.each do |ingredient| %>
  <p><%=ingredient.amount%> <%=ingredient.name%></p><br>
<% end %>
<h4>Instructions:</h4><br>
<h4><%=@recipe.instructions%></h4>
